{% extends "base.html" %}
{% block content %}

<h2>About Me </h2>

    

    <h1>Hello there!</h1>
    <h2>My name is Marial and this is my blog aka diary</h2>
    <p>A spiritual blog for anyone seeking simple ways to get a little peace of mind. What is most notable about this blog is that topics are always timely, while they contain pearls of wisdom that are timeless. Focus is on not letting bumps in the road get you down and living simply even though we live in a world that is often chaotic. If you are interested in starting a wellness journey, take part in our 66-Day Wellness Challenge to instill healthy habits that will enable you to be more resilient to the curve balls that life throws at you. The blog is run by Lori Deschene, however experts from a variety of fields contribute posts</p>
    


{% endblock content %} 